<div class="container mt-4">
    <h2 class="mb-4">Blog Posts</h2>
    <div *ngFor="let post of blogPosts" class="blog-post card mb-4">
      <img [src]="post.featuredImageUrl" class="card-img-top" alt="Featured Image">
      <div class="card-body">
        <h3 class="card-title">{{ post.title }}</h3>
        <p class="card-text">{{ post.shortDescription }}</p>
        <p class="card-text">
          <small class="text-muted">Published by: {{ post.author }} on {{ post.publishedDate | date }}</small>
        </p>
        <button class="btn btn-primary" (click)="viewDetails(post.id)" >
          <div class="mr-1"></div>
          View Details
        </button>
        
      </div>
    </div>
</div>
  